**/models/
**/results/
.idea
**/__pycache__/
**/search/all_results.csv
**/*.egg-info
**/covidfaq/scrape/*.json
!**/covidfaq/scrape/MSSS*
!**/covidfaq/scrape/dialogue*
!**/covidfaq/scrape/PDF*
**/rerank/model.zip
