# Configuration for Rasa NLU.
# https://rasa.com/docs/rasa/nlu/components/
language: en # eventually switch to fr, but for now we have trouble installing spacy fr in the docker image
pipeline:
  - name: SpacyNLP
  - name: SpacyTokenizer
  - name: SpacyFeaturizer
  - name: RegexFeaturizer
  - name: LexicalSyntacticFeaturizer
  - name: CountVectorsFeaturizer
  - name: CountVectorsFeaturizer
    analyzer: "char_wb"
    min_ngram: 1
    max_ngram: 4
  - name: DIETClassifier
    epochs: 50
  - name: EntitySynonymMapper
  - name: ResponseSelector
    # epochs: 10
    # hidden_layers_sizes: {text: [], label: []}
    # number_of_transformer_layers: 2
    # transformer_size: 256