version: 2.1

orbs:
  base: dialogue/base@1.7.1
  docker: dialogue/docker@1.6.1
  app: dialogue/helm-app@1.0.2
  job: dialogue/helm-job@1.2.1
  k8s: dialogue/k8s@3.0.2
  python: dialogue/python@2.7.0
  release: dialogue/release@2.1.4

aliases:
  - &executor
    executor:
      name: python/python
      version: "3.8"

workflows:
  ci:
    jobs:
      - python/pylama:
          name: pylama
          context: org-global-v2
      - python/black:
          name: black
          context: org-global-v2
      - python/isort:
          name: isort
          context: org-global-v2
      - release/release:
          name: release
          requires:
            - pylama
            - black
            - isort
          context: org-global-v2
      - app/build:
          name: build-api
          filters:
            branches:
              ignore: master
          context: org-global-v2
      # - docker/build_image:
      #     name: build-image
      #     filters:
      #       branches:
      #         ignore: master
      #     context: org-global-v2
      # - docker/push_tags:
      #     name: push-image-tags
      #     requires:
      #       - build-image
      #     filters:
      #       branches:
      #         ignore: master
      #     context: org-global-v2
      # - deploy-rasax:
      #     name: deploy-rasax-dev-ca2
      #     place: ca2
      #     requires:
      #       - push-image-tags
      #     filters:
      #      branches:
      #        ignore: master
      #     context: org-global-v2
      - deploy-es:
          name: deploy-es-dev-ca2
          place: ca2
          filters:
           branches:
             ignore: master
          context: org-global-v2
      - job/deploy:
          name: deploy-scraper-dev-ca2
          stage: dev
          place: ca2
          wait: false
          requires:
            - pylama
            - build-api
          filters:
            branches:
              ignore: master
          context: org-global-v2
      - app/deploy:
          name: deploy-api-dev-ca2
          stage: dev
          place: ca2
          requires:
            - pylama
            - build-api
          filters:
            branches:
              ignore: master
          context: org-global-v2
  release:
    jobs:
      - app/build:
          name: build-api
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          context: org-global-v2
      - deploy-es:
          name: deploy-es-prod-ca
          stage: prod
          place: ca
          region: us-east-1
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          context: org-global-v2
      - job/deploy:
          name: deploy-scraper-prod-ca
          stage: prod
          place: ca
          region: us-east-1
          wait: false
          requires:
            - build-api
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          context: org-global-v2
      - app/deploy:
          name: deploy-api-prod-ca
          stage: prod
          place: ca
          region: us-east-1
          requires:
            - build-api
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          context: org-global-v2
  #    - docker/build_image:
  #        name: build-release-image
  #        filters:
  #          tags:
  #            only: /^v.*/
  #          branches:
  #            ignore: /.*/
  #         context: org-global-v2
  #     - docker/push_tags:
  #         name: push-release-image-tags
  #         requires:
  #           - build-release-image
  #         filters:
  #           tags:
  #             only: /^v.*/
  #           branches:
  #             ignore: /.*/
  #         context: org-global-v2
  #     - deploy-rasax:
  #         name: deploy-rasax-prod-ca-us
  #         place: ca
  #         region: us-east-1
  #         requires:
  #           - push-release-image-tags
  #         filters:
  #           tags:
  #             only: /^v.*/
  #           branches:
  #             ignore: /.*/
  #         context: org-global-v2
  #     - deploy-es:
  #         name: deploy-es-prod-ca-us
  #         place: ca
  #         region: us-east-1
  #         filters:
  #           tags:
  #             only: /^v.*/
  #           branches:
  #             ignore: /.*/
  #         context: org-global-v2

jobs:
  deploy-rasax:
    parameters:
      stage:
        type: string
        default: "${CIRCLE_BRANCH_STAGE}"
      place:
        type: string
      cluster:
        type: string
        default: apps
      region:
        type: string
        default: "${AWS_DEFAULT_REGION}"
    executor: base/launchpad
    steps:
      - k8s/setup:
          cluster: <<parameters.cluster>>
          stage: <<parameters.stage>>
          place: <<parameters.place>>
          region: <<parameters.region>>
      - install-helm-dependencies
      - run:
          name: Deploy
          command: |
            set -x

            log "install rasa-x helm repository"
            helm3 repo add rasa-x https://rasahq.github.io/rasa-x-helm

            log "refresh rasa-x helm repository"
            helm3 repo update

            _PARAM_STAGE="<<parameters.stage>>"
            _PARAM_PLACE="<<parameters.place>>"
            _APP_NAME="${CIRCLE_PROJECT_REPONAME}"
            _NAMESPACE="${_APP_NAME}"

            _VERSION="$CIRCLE_SHA1_SHORT"

            if [ "$CIRCLE_GIT_TAG" ]; then
              _VERSION="$CIRCLE_GIT_TAG"
            fi

            helm3 namespace secrets upgrade "${_APP_NAME}" rasa-x/rasa-x \
              --set rasa.name="${DOCKER_REGISTRY}/${_APP_NAME}" \
              --set-string rasa.tag="$_VERSION" \
              --values deploy/rasax/app.yaml \
              --values deploy/rasax/app."${_PARAM_STAGE,,}"."${_PARAM_PLACE}".yaml \
              --values deploy/rasax/secrets."${_PARAM_STAGE,,}"."${_PARAM_PLACE}".yaml \
              --namespace="${_NAMESPACE}" \
              --install \
              --version 1.2.1 \
              --wait \
              --timeout 600s

  deploy-es:
    parameters:
      stage:
        type: string
        default: "${CIRCLE_BRANCH_STAGE}"
      place:
        type: string
      cluster:
        type: string
        default: apps
      region:
        type: string
        default: "${AWS_DEFAULT_REGION}"
    executor: base/launchpad
    steps:
      - k8s/setup:
          cluster: <<parameters.cluster>>
          stage: <<parameters.stage>>
          place: <<parameters.place>>
          region: <<parameters.region>>
      - install-helm-dependencies
      - run:
          name: Deploy
          command: |
            set -x

            log "install elastic helm repository"
            helm3 repo add elastic https://helm.elastic.co

            log "refresh elastic helm repository"
            helm3 repo update

            _PARAM_STAGE="<<parameters.stage>>"
            _PARAM_PLACE="<<parameters.place>>"
            _APP_NAME="es-${CIRCLE_PROJECT_REPONAME}"
            _NAMESPACE="${_APP_NAME}"

            _VERSION="$CIRCLE_SHA1_SHORT"

            if [ "$CIRCLE_GIT_TAG" ]; then
              _VERSION="$CIRCLE_GIT_TAG"
            fi

            helm3 namespace secrets upgrade "${_APP_NAME}" elastic/elasticsearch \
              --values deploy/es/app.yaml \
              --values deploy/es/app."${_PARAM_STAGE,,}"."${_PARAM_PLACE}".yaml \
              --namespace="${_NAMESPACE}" \
              --install \
              --version 7.6.1 \
              --wait \
              --timeout 600s

commands:
  install-helm-dependencies:
    steps:
      - run:
          name:  Install helm 3
          command: |
            log "install helm 3"
            curl --silent --show-error --fail --location --output helm.tar.gz \
              https://get.helm.sh/helm-v3.1.2-linux-amd64.tar.gz \
              && tar -zxvf helm.tar.gz \
              && sudo mv linux-amd64/helm /usr/local/bin/helm3

            log "check helm version"
            helm3 version
      - run:
          name:  Install helm plugins
          command: |
            log "install plugins"
            helm3 plugin install https://github.com/futuresimple/helm-secrets
            helm3 plugin install https://github.com/thomastaylor312/helm-namespace
